
#Guidlines for setting up the .env file for the backend server.
#Create a .env file in the backend directory and add the following environment variables:
SUPABASE_URL=https://qgiqqbwodbcnbtzqjtwu.supabase.co/
SUPABASE_KEY=sb_publishable_3CE8OeCOjUL1-ZLySwa5Yw_ZprwWZnn
JWT_SECRET=fc0bf89a3b6d771907782e315a342ae7c45471f12fe335986869ccda94a17c60
PORT=3000

#Replace the placeholder values with the real Supabase project URL and secret key.